html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
}

div#wrapper {
    padding-bottom: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div#content {
    min-height: 100%;
    height: 100%;
}

div#footer {
    display: flex;
    margin-bottom: -25px;
    height: 25px;
}

div#footer-left {
    flex: 1;
    text-align: left;
}

div#footer-right {
    flex: 2;
    text-align: right;
}

div#map {
    width: 100%;
    height: 100%;
}

.vehicle {
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    position: absolute;
    width: 22px;
    height: 22px;
    font-size: 7pt;
}

.vehicle-bearing {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(background.png) 0 0 repeat;
    background-size: cover;
    transform: rotate(0deg);
}

.vehicle-bus {
    background-color: #2196f3;
}

.vehicle-tram {
    background-color: #ff5722;
}

.vehicle-other {
    background-color: #9e9e9e;
}